---

- hosts: dc-1
  connection: local
  strategy: free
  roles:
    - { role: login, tags: [ 'login' ] }
    - { role: baseconfig, tags: [ 'login', 'base'] }
    # - { role: vlans, tags: [ 'login', 'vlans' ] }
  #  - { role: hostports, tags: [ 'login', 'hostports' ] }
